:root {
  --heading-font: "Gloria Hallelujah", cursive;
  --body-font: "Montserrat", sans-serif;
  --branding-color: rgb(17, 159, 138);
  --secondary-color: rgb(224, 251, 244);
  --tertiary-color: rgb(78, 190, 159);
}

body {
  font-family: var(--body-font);
}

h1 {
  font-family: var(--heading-font);
  color: var(--branding-color);
}

h2 {
  color: var(--secondary-color);
  font-style: normal;
}

.hero {
  text-align: center;
  padding: 120px 20px;
  background-image: url("/images/hero-banner.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

.hero h1 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}

.intro-tagline {
  margin: 65px 30px auto;
}

.grid-heading {
  font-family: var(--heading-font);
  color: var(--branding-color);
  font-size: 30px;
}

.homepage-buttons {
  background-color: var(--branding-color);
  color: var(--secondary-color);
}

.homepage-buttons:hover {
  background-color: var(--secondary-color);
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.container {
  margin: 70px auto;
}

.container p {
  opacity: 0.7;
}

.container img {
  background-color: var(--secondary-color);
}

.content-container {
  padding: 120px 20px;
}

.content-container h3 {
  color: var(--tertiary-color);
  font-size: 24px;
}

.content {
  padding: 20px;
}

.content h2 {
  font-size: 24px;
  color: var(--tertiary-color);
}

@media (max-width: 768px) {
  body {
    text-align: center;
  }

  h1 {
    font-size: 435x;
  }

  .hero {
    padding: 60px 20px;
  }

  .intro-tagline {
    margin: 30px 20px 0px 20px;
    font-size: 18px;
  }

  .content-container {
    padding: 0;
    margin-top: 20px;
  }
}
